springLessons/configuration-metadata/src/main/resources/cn/pxl/config/metadata/users.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>

<xsd:schema xmlns="http://cn.pxl.entity/schema/users"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://cn.pxl.entity/schema/users">
    <!--  定义user类型（定义复杂类型）  -->
    <xsd:complexType name="User">
        <xsd:attribute name="userName" type="xsd:string" use="required"/>
        <xsd:attribute name="passWord" type="xsd:string" use="required"/>
        <xsd:attribute name="age" type="xsd:integer" use="required"/>
    </xsd:complexType>

    <!--  定义user元素  -->
    <xsd:element name="user" type="User"/>

</xsd:schema>